header.header
  .header-left
    if company.logo
      img(src='#{company.logo}', alt='logo')
    else
      img(src='/img/com-logo.png', alt='logo')
  .header-right
    img(src='/img/phone-logo.png')
    span #{company.contact}
nav.nav-wrapper
  ul.nav-list
    if domain
      li
        a(href='http://ev.cpkso.com', title='返回主站',target='_blank') 返回主站
      li
        a(href='/', title='首页',target='_blank') 首页
      li
        a(href='/intro', title='公司介绍',target='_blank') 公司介绍
      li
        a(href='/products', title='供应产品',target='_blank') 供应产品
      li
        a(href='/trend', title='公司动态',target='_blank') 公司动态
    else
      li
        a(href='/', title='返回主站',target='_blank') 返回主站
      li
        a(href='/companies/#{company.id}/', title='首页',target='_blank') 首页
      li
        a(href='/companies/#{company.id}/intro', title='公司介绍',target='_blank') 公司介绍
      li
        a(href='/companies/#{company.id}/products', title='供应产品',target='_blank') 供应产品
      li
        a(href='/companies/#{company.id}/trend', title='公司动态',target='_blank') 公司动态
