header.header
  .header-left
    if company.logo
      img(src='#{company.logo}', alt='logo')
    else
      img(src='/img/com-logo.png', alt='logo')
  .header-right
    img(src='/img/phone-logo.png')
    span #{company.contact}
nav.nav-wrapper
  ul.nav-list
    li
      a(href='/', title='返回主站') 返回主站
    li
      a(href='/companies/#{company.id}/', title='首页') 首页
    li
      a(href='/companies/#{company.id}/intro', title='公司介绍') 公司介绍
    li
      a(href='/companies/#{company.id}/products', title='供应产品') 供应产品
    li
      a(href='/companies/#{company.id}/trend', title='公司动态') 公司动态
