extends layout

block title
  title= '车型库、新能源电动车车型大全-产品快搜新能源电动车'
  meta(name="keywords", content="低速电动车、电动乘用车、电动三轮车、电动客车、新能源电动车分类、新能源电动车品牌、新能源电动车价格、新能源电动车续航里程")
  meta(name="description", content="产品快搜新能源电动车车型库为您提供各种型号的新能源电动车，囊括了的参数、型号、图片、价格、厂家等信息，是的专业平台，带给您最准确的信息。")
append link
  link(rel='stylesheet', href="http://ev.cpkso.com/css/searchresult.css")
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
      li
        a(href='/') 首页
      li.active 车型库
  .main-body
    #filter.category
      dl#category.category-list.clearfix
        dt.title 分类：
        .category-item
          a.choose-all.choose-on(href='/cars/search/0-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-0-1') 不限
          a(href='/cars/search/15-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-0-1') 低速电动车
          a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 电动乘用车
          a(href='/cars/search/14-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-0-1') 电动三轮车
          a(href='/cars/search/4-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-0-1') 电动客车
      #categoryBrand.category-list.clearfix
        dt.title 品牌：
        a.choose-all.choose-on(href='/cars/search/#{ids[0]}-0-#{ids[2]}-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 不限
        #firstLetters.brand-ident
          ul
            li.active
              a(href='#brandA',data-toggle='enter',onclick='return false;') A
            li
              a(href='#brandB',data-toggle='enter',onclick='return false;') B
            li
              a(href='#brandC',data-toggle='enter',onclick='return false;') C
            li
              a(href='#brandD',data-toggle='enter',onclick='return false;') D
            li
              a(href='#brandE',data-toggle='enter',onclick='return false;') E
            li
              a(href='#brandF',data-toggle='enter',onclick='return false;') F
            li
              a(href='#brandG',data-toggle='enter',onclick='return false;') G
            li
              a(href='#brandH',data-toggle='enter',onclick='return false;') H
            li
              a(href='#brandI',data-toggle='enter',onclick='return false;') I
            li
              a(href='#brandJ',data-toggle='enter',onclick='return false;') J
            li
              a(href='#brandK',data-toggle='enter',onclick='return false;') K
            li
              a(href='#brandL',data-toggle='enter',onclick='return false;') L
            li
              a(href='#brandM',data-toggle='enter',onclick='return false;') M
            li
              a(href='#brandN',data-toggle='enter',onclick='return false;') N
            li
              a(href='#brandO',data-toggle='enter',onclick='return false;') O
            li
              a(href='#brandP',data-toggle='enter',onclick='return false;') P
            li
              a(href='#brandQ',data-toggle='enter',onclick='return false;') Q
            li
              a(href='#brandR',data-toggle='enter',onclick='return false;') R
            li
              a(href='#brandS',data-toggle='enter',onclick='return false;') S
            li
              a(href='#brandT',data-toggle='enter',onclick='return false;') T
            li
              a(href='#brandU',data-toggle='enter',onclick='return false;') U
            li
              a(href='#brandV',data-toggle='enter',onclick='return false;') V
            li
              a(href='#brandW',data-toggle='enter',onclick='return false;') W
            li
              a(href='#brandX',data-toggle='enter',onclick='return false;') X
            li
              a(href='#brandY',data-toggle='enter',onclick='return false;') Y
            li
              a(href='#brandZ',data-toggle='enter',onclick='return false;') Z
            li
        #tabcontent.tab-content
          #brandA.tab-pane.brand-list.active
            mixin brands(brands)
              each brand in brands
                a(href='/cars/search/#{ids[0]}-#{brand.id}-#{ids[2]}-#{ids[3]}-#{ids[4]}-#{ids[5]}-1',title='#{brand.brand}') #{brand.brand}
            +brands(brands.a)
          #brandB.tab-pane.brand-list
            +brands(brands.b)
          #brandC.tab-pane.brand-list
            +brands(brands.c)
          #brandD.tab-pane.brand-list
            +brands(brands.d)
          #brandE.tab-pane.brand-list
            +brands(brands.e)
          #brandF.tab-pane.brand-list
            +brands(brands.f)
          #brandG.tab-pane.brand-list
            +brands(brands.g)
          #brandH.tab-pane.brand-list
            +brands(brands.h)
          #brandI.tab-pane.brand-list
            +brands(brands.i)
          #brandJ.tab-pane.brand-list
            +brands(brands.j)
          #brandK.tab-pane.brand-list
            +brands(brands.k)
          #brandL.tab-pane.brand-list
            +brands(brands.l)
          #brandM.tab-pane.brand-list
            +brands(brands.m)
          #brandN.tab-pane.brand-list
            +brands(brands.n)
          #brandO.tab-pane.brand-list
            +brands(brands.o)
          #brandP.tab-pane.brand-list
            +brands(brands.p)
          #brandQ.tab-pane.brand-list
            +brands(brands.q)
          #brandR.tab-pane.brand-list
            +brands(brands.r)
          #brandS.tab-pane.brand-list
            +brands(brands.s)
          #brandT.tab-pane.brand-list
            +brands(brands.t)
          #brandU.tab-pane.brand-list
            +brands(brands.u)
          #brandV.tab-pane.brand-list
            +brands(brands.v)
          #brandW.tab-pane.brand-list
            +brands(brands.w)
          #brandX.tab-pane.brand-list
            +brands(brands.x)
          #brandY.tab-pane.brand-list
            +brands(brands.y)
          #brandZ.tab-pane.brand-list
            +brands(brands.z)
      dl#categoryPrice.category-list.clearfix
        dt.title 价格：
        dd.category-item
          a.choose-all.choose-on(href='/cars/search/#{ids[0]}-#{ids[1]}-0-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 不限
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-1-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 10万以下
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-2-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 10-20万
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-3-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 20-30万
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-4-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 30-50万
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-5-#{ids[3]}-#{ids[4]}-#{ids[5]}-1') 50万以上
      dl#categoryMile.category-list.clearfix
        dt.title 续航：
        dd.category-item
          a.choose-all.choose-on(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-0-#{ids[4]}-#{ids[5]}-1') 不限
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-1-#{ids[4]}-#{ids[5]}-1') 100公里以下
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-2-#{ids[4]}-#{ids[5]}-1') 100-200公里
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-3-#{ids[4]}-#{ids[5]}-1') 200-300公里
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-4-#{ids[4]}-#{ids[5]}-1') 300-400公里
          a(href='/cars/search/#{ids[0]}-#{ids[1]}-#{ids[2]}-5-#{ids[4]}-#{ids[5]}-1') 400公里以上
      if ids[0] === '3'
        dl#categoryType.category-list.clearfix
          dt.title 类型：
          dd.category-item
            a.choose-all.choose-on(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-0-#{ids[5]}-1') 不限
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-1-#{ids[5]}-1') 纯电动
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-2-#{ids[5]}-1') 插电式
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-3-#{ids[5]}-1') 增程式
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-4-#{ids[5]}-1') 混合动力
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-5-#{ids[5]}-1') 燃料电池
        dl#categoryLevel.category-list.clearfix
          dt.title 级别：
          dd.category-item
            a.choose-all.choose-on(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-0-1') 不限
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-1-1') 微型
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-2-1') 小型
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-3-1') 紧凑型
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-4-1') 中型
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-5-1') 中大型
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-6-1') 豪华型
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-7-1') SUV
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-8-1') MPV
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-9-1') 跑车
            a(href='/cars/search/3-#{ids[1]}-#{ids[2]}-#{ids[3]}-#{ids[4]}-10-1') 商用
    .content-container.car-search-result
      .content-left
        #car-result.search-result.product-container
          ul.list-content
            each car in cars
              li.list-item
                .figure
                  a(href='/cars/#{car.id}',title='#{car.name}')
                    if car.prompt===1
                      span.recommend-icon
                    img(src='#{car.pic}',alt='#{car.name}')
                  a.car-logo(href='javascript:;',title='#{car.name}')
                    if car.brand
                      img(src='http://localhost:8080/ev/brandPath/#{car.brand}',alt='#{car.name}')
                  .car-info
                    .info-wrapper
                      a(href='/cars/#{car.id}',title='#{car.name}') 详情
                      a.cus-service(href='javascript:;') 客服
                      a(href='/companys/#{car.company_id}',target='_blank',title='#{car.company_name}') 官网
                    .car-detail
                      ul.detail-list
                        if car.mile
                          li
                            p 纯电续航：
                              span #{car.mile}km
                        if car.max_speed
                          li
                            p 最高时速：
                              span #{car.max_speed}km
                        if car.charge_time
                          li
                            p 充电时间：
                              span #{car.charge_time}h
                        if car.accelerate
                          li
                            p 百公里加速：
                              span #{car.accelerate}s
                .detail
                  if car.w1===1
                    a.desc(href='/cars/#{car.id}',style='text-indent:26px;',title='#{car.name}') #{car.name}
                      span.hot-icon
                  else
                    a.desc(href='/cars/#{car.id}',title='#{car.name}') #{car.name}
                  .company-detail
                    a.company-name(href='/companies/#{car.company_id}',target='_blank',title='#{car.company_name}') #{car.company_name}
                      if car.vip===1
                        span.approve-icon
                  .msg
                    if car.price
                      p.price ￥#{car.price}万
                    else
                      p.price 暂无价格
                    if car.hot
                      p.view-count 已浏览#{car.hot}
        .page-wrapper.clearfix
          if list
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                a(href=pageinfo.pageNo-1) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++     
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++
                a ...
                - var url = '/cars/list/' + pageinfo.maxPageNo
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                a(href='1') 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++        
              else
                a(href='1') 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    - var url = '/cars/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/cars/list/' + n
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = '/cars/list/' + pageinfo.maxPageNo
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                - var url = '/cars/list/' + n
                span.disabled(href='javascript:;') 下一页
              else
                - var url = '/cars/list/' + (pageinfo.pageNo+1)
                a(href=url) 下一页
          else
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                a(href=pageinfo.pageNo-1) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    a(href=url)= n++     
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    a(href=url)= n++
                a ...
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + pageinfo.maxPageNo
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                a(href='1') 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    a(href=url)= n++        
              else
                a(href='1') 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + pageinfo.maxPageNo
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + n
                span.disabled(href='javascript:;') 下一页
              else
                - var url = ids[0] + '-' + ids[1] + '-' + ids[2] + '-' +ids[3] + '-' + ids[4] + '-' + ids[5] + '-' + (pageinfo.pageNo+1)
                a(href=url) 下一页
      .content-right
        #showBar1.show-bar-sm
          mixin bar(bar)
            a(href='/cars/#{bar[0].entity_id}',title='#{bar[0].title}')
              img(src='#{bar[0].pic}',alt='#{bar[0].title}')
          +bar(promo1)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#car-news',data-toggle='tab',title='行业新闻') 行业新闻
            li
              a(href='#policy',data-toggle='tab',title='政策法规') 政策法规
          .tab-content
            #car-news.tab-pane.active
              mixin news(newsdata)
                ul.msg-list
                  each news in newsdata
                    li.side-list-item
                      a(href='/news/#{news.uri}',title='#{news.title}') #{news.title}
                      span.date #{news.date}
              +news(promo2)
            #policy.tab-pane
              +news(promo3)
        #showBar2.show-bar-sm
          +bar(promo4)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#guide',data-toggle='tab',title='车辆导购') 车辆导购
            li
              a(href='#tips',data-toggle='tab',title='用车贴士') 用车贴士
          .tab-content
            #guide.tab-pane.active
              +news(promo5)
            #tips.tab-pane
              +news(promo6)
        #showBar3.show-bar-sm
          +bar(promo7)
    .cut-line

append script
  script(src='http://ev.cpkso.com/js/enter.js')
