extends layout

block title
  title= '企业库、新能源电动车整车、配件企业库-产品快搜新能源电动车'
  meta(name="keywords", content="新能源电动车零部件企业,电动汽车零部件厂家,电动汽车零部件供应商,新能源汽车整车企业厂家,新能源电动车厂商")
  meta(name="description", content="产品快搜新能源电动车企业库提供新能源电动汽车生产企业名录,新能源汽车厂商分布,新能源电动车配件厂家，微型电动车厂家,新能源电动车厂家等。")
append link
  link(rel="stylesheet", href="http://ev.cpkso.com/style/css/index.css")
  link(rel="stylesheet", href="http://ev.cpkso.com/style/css/enterprise.css")
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
      li
        a(href='/') 首页
      li.active 企业库
  .main-body
    #filter.category
      #category.category-list.clearfix
        dt.title 省市：
        a.choose-all.choose-on(href='/companies/search/0-#{ids[1]}') 不限
        #firstLetters.brand-ident
          ul
            li.active
              a(href='#brandA',data-toggle='enter',onclick='return false;') A
            li
              a(href='#brandB',data-toggle='enter',onclick='return false;') B
            li
              a(href='#brandC',data-toggle='enter',onclick='return false;') C
            li
              a(href='#brandF',data-toggle='enter',onclick='return false;') F
            li
              a(href='#brandG',data-toggle='enter',onclick='return false;') G
            li
              a(href='#brandH',data-toggle='enter',onclick='return false;') H
            li
              a(href='#brandJ',data-toggle='enter',onclick='return false;') J
            li
              a(href='#brandL',data-toggle='enter',onclick='return false;') L
            li
              a(href='#brandN',data-toggle='enter',onclick='return false;') N
            li
              a(href='#brandQ',data-toggle='enter',onclick='return false;') Q
            li
              a(href='#brandS',data-toggle='enter',onclick='return false;') S
            li
              a(href='#brandT',data-toggle='enter',onclick='return false;') T
            li
              a(href='#brandX',data-toggle='enter',onclick='return false;') X
            li
              a(href='#brandY',data-toggle='enter',onclick='return false;') Y
            li
              a(href='#brandZ',data-toggle='enter',onclick='return false;') Z
            li
        #tabcontent.tab-content
          #brandA.tab-pane.brand-list.active
            a(href='/companies/search/1-#{ids[1]}') 安徽
            a(href='/companies/search/2-#{ids[1]}') 澳门
          #brandB.tab-pane.brand-list
            a(href='/companies/search/3-#{ids[1]}') 北京
          #brandC.tab-pane.brand-list
            a(href='/companies/search/4-#{ids[1]}') 重庆
          #brandF.tab-pane.brand-list
            a(href='/companies/search/5-#{ids[1]}') 福建
          #brandG.tab-pane.brand-list
            a(href='/companies/search/6-#{ids[1]}') 广东
            a(href='/companies/search/7-#{ids[1]}') 广西
            a(href='/companies/search/8-#{ids[1]}') 贵州
            a(href='/companies/search/9-#{ids[1]}') 甘肃
          #brandH.tab-pane.brand-list
            a(href='/companies/search/10-#{ids[1]}') 河南
            a(href='/companies/search/11-#{ids[1]}') 河北
            a(href='/companies/search/12-#{ids[1]}') 黑龙江
            a(href='/companies/search/13-#{ids[1]}') 海南
            a(href='/companies/search/14-#{ids[1]}') 湖南
            a(href='/companies/search/15-#{ids[1]}') 湖北
          #brandJ.tab-pane.brand-list
            a(href='/companies/search/16-#{ids[1]}') 江西
            a(href='/companies/search/17-#{ids[1]}') 江苏
            a(href='/companies/search/18-#{ids[1]}') 吉林
          #brandL.tab-pane.brand-list
            a(href='/companies/search/19-#{ids[1]}') 辽宁
          #brandN.tab-pane.brand-list
            a(href='/companies/search/20-#{ids[1]}') 内蒙古
            a(href='/companies/search/21-#{ids[1]}') 宁夏
          #brandQ.tab-pane.brand-list
            a(href='/companies/search/22-#{ids[1]}') 青海
          #brandS.tab-pane.brand-list
            a(href='/companies/search/23-#{ids[1]}') 山东
            a(href='/companies/search/24-#{ids[1]}') 山西
            a(href='/companies/search/25-#{ids[1]}') 陕西
            a(href='/companies/search/26-#{ids[1]}') 四川
            a(href='/companies/search/27-#{ids[1]}') 上海
          #brandT.tab-pane.brand-list
            a(href='/companies/search/28-#{ids[1]}') 台湾
            a(href='/companies/search/29-#{ids[1]}') 天津
          #brandX.tab-pane.brand-list
            a(href='/companies/search/30-#{ids[1]}') 新疆
            a(href='/companies/search/31-#{ids[1]}') 西藏
            a(href='/companies/search/32-#{ids[1]}') 香港
          #brandY.tab-pane.brand-list
            a(href='/companies/search/33-#{ids[1]}') 云南
          #brandZ.tab-pane.brand-list
            a(href='/companies/search/34-#{ids[1]}') 浙江
      dl.category-list.clearfix
        dt.title 分类：
        dd.category-item
          a.choose-all.choose-on(href='/companies/search/#{ids[0]}-0') 不限
          a(href='/companies/search/#{ids[0]}-1') 整车
          a(href='/companies/search/#{ids[0]}-2') 配件
    .content-container.car-search-result
      .content-left
        table#Companytable
          each company in companies
            tr.inforow
              td(style='width:100px;')
                .jinshanlogo
                  a(href='/companies/#{company.id}')
                    if company.logo
                      img(src='http://ev.cpkso.com/uploadPath/#{company.logo}')
                    else
                      img(src='http://ev.cpkso.com/style/image1/logo.png')
              td.content(style='width:900px;margin:0 20px;')
                p
                  a(href='/companies/#{company.id}')
                    b #{company.name}
                  if company.vip==='1'
                    span.approve-icon
                p
                  span
                    b 企业类型：
                    if company.company_ct==='0'
                      span 生产型
                    else if company.company_ct==='1'
                      span 销售型
                    else
                      span #{company.company_ct}
                  span
                    b 注册地址：
                    span #{company.province}
                  span
                    b 联系人：
                    span #{company.charge}
                p.brief
                  span
                    b 企业简介：
                    span #{company.brief}
              td.certify
                div
                  a(href='/companies/#{company.id}',target='_blank') 企业官网
                    
        .page-wrapper
          .pagination
      .content-right
    .cut-line

append script
  script(src='http://ev.cpkso.com/style/js/lib/enter.js')
  script(src='http://ev.cpkso.com/style/js/lib/jquery.page.js')
  script.
    $('.pagination').Mpage({
      pageCount: #{pageinfo.maxPageNo},
      current: #{pageinfo.pageNo},
      mclick: function(p){
        //- console.log(p);
      }
    });

