extends layout

block title
  title= '产品快搜-新能源电动车'
  meta(name="keywords", content="产品快搜新能源电动车、老年代步车、电动车、电动车求购、电动车配件、产品快搜网")
  meta(name="description", content="产品快搜新能源电动车网是国内最专业的新能源电动车咨询网站，拥有最全的电动车库、电动车配件库，提供权威的新能源电动车政策新闻、新能源电动车报价、新能源电动车配件等服务信息。是新能源电动车企业产品推广、品牌宣传、拓展市场、网络推广的第一选择。为你购买新能源电动车整车和配件提供专业的、有效的价值信息。")
append link
  link(rel="stylesheet", href="css/index.css")
  link(rel="stylesheet", href="css/owl.carousel.min.css")
  link(rel="stylesheet", href="css/owl.theme.css")
block content
  .main-body
    .banner-wrapper
      .nav-banner
        .search-wrapper
          .search
            .title-wrapper
              h2.search-title 直接搜索
            input#car-input(type='text', placeholder='请输入车型名称', (onkeydown)='entersearch(1);')
            a#car-search-btn(title='我要搜车', target='_blank') 我要搜车
            input#parts-input(type='text', placeholder='请输入配件名称', (onkeydown)='entersearch(2);')
            a#parts-search-btn(title='配件搜索', target='_blank') 配件搜索
          .filter
            .title-wrapper
              h2.search-title 条件搜索
              p.desc 全方位多角度的保障
            .tabbable
              ul.nav.nav-tabs
                li.active
                  a(href='#types', data-toggle='tab', title='车型库') 车型库
                li
                  a(href='#types', data-toggle='tab', title='车型库') 车型库
              .tab-content
                .tab-pane.active#types
                  ul.details
                    li.filter-type
                      h3.title 品牌
                      ul#brand.type-list.brand
                        li
                          a(title='特斯拉', href='/cars/search/0-99-0-0-0-0')
                            img(src='img/icon/logo-1.png')
                        li
                          a(title='比亚迪', href='/cars/search/0-99-0-0-0-0')
                            img(src='img/icon/logo-2.png')
                        li
                          a(title='雷克萨斯', href='/cars/search/0-60-0-0-0-0')
                            img(src='img/icon/logo-3.png')
                        li
                          a(title='北汽新能源', href='/cars/search/0-8-0-0-0-0')
                            img(src='img/icon/logo-4.png')
                        li
                          a(title='福特', href='/cars/search/0-34-0-0-0-0')
                            img(src='img/icon/logo-5.png')
                        li
                          a(title='日产', href='/cars/search/0-88-0-0-0-0')
                            img(src='img/icon/logo-6.png')
                        li
                          a(title='雪佛兰', href='/cars/search/0-107-0-0-0-0')
                            img(src='img/icon/logo-7.png')
                    li.filter-type
                      h3.title 价格
                      ul#brand.type-list.price
                        li
                          a(title='10万以下', href='/cars/search/0-0-1-0-0-0') 10万以下
                        li
                          a(title='10-20万', href='/cars/search/0-0-2-0-0-0') 10-20万
                        li
                          a(title='20-30万', href='/cars/search/0-0-3-0-0-0') 20-30万
                        li
                          a(title='30-50万', href='/cars/search/0-0-4-0-0-0') 30-50万
                        li
                          a(title='50万以上', href='/cars/search/0-0-5-0-0-0') 50万以上
                    li.filter-type
                      h3.title 类型
                      ul#brand.type-list.type
                        li
                          a(title='低速电动车', href='/cars/search/0-0-0-0-1-0') 低速电动车
                        li
                          a(title='纯电动', href='/cars/search/0-0-0-0-2-0') 纯电动
                        li
                          a(title='插电式', href='/cars/search/0-0-0-0-3-0') 插电式
                        li
                          a(title='增程式', href='/cars/search/0-0-0-0-4-0') 增程式
                        li
                          a(title='混合动力', href='/cars/search/0-0-0-0-5-0') 混合动力
                    li.filter-type
                      h3.title 级别
                      ul#brand.type-list.level
                        li
                          a(title='微型', href='/cars/search/0-0-0-0-0-1') 微型
                        li
                          a(title='小型', href='/cars/search/0-0-0-0-0-2') 小型
                        li
                          a(title='紧凑型', href='/cars/search/0-0-0-0-0-3') 紧凑型
                        li
                          a(title='中型', href='/cars/search/0-0-0-0-0-4') 中型
                .tab-pane#parts  
                  .filter-type
                    h3.title 分类
                    ul.type-list.parts
                      li
                        a(title='标准件',href='/parts/search/6-0') 标准件
                      li
                        a(title='辅助件',href='/parts/search/7-0') 辅助件
                      li
                        a(title='车身系统',href='/parts/search/8-0') 车身系统
                      li
                        a(title='电气系统',href='/parts/search/9-0') 电气系统
                      li
                        a(title='转向系统',href='/parts/search/10-0') 转向系统
                      li
                        a(title='底盘系统',href='/parts/search/11-0') 底盘系统
                      li
                        a(title='密封系统',href='/parts/search/12-0') 密封系统
                      li
                        a(title='内饰系统',href='/parts/search/13-0') 内饰系统
      .banners(style='height:556px;')
        #sliders.owl-carousel(style='width: 924px;height: 410px;margin-bottom: 6px;')
          for slider,index in sliders
            case index
              when 0
                .item.active
                  a(href='/cars/#{slider.car.id}')
                    img(src='http://ev.cpkso.com/adsPath/#{slider.pic}',style='width:924px;height:410px;')
              default
                .item
                  a(href='/cars/#{slider.car.id}')
                    img(src='http://ev.cpkso.com/adsPath/#{slider.pic}',style='width:924px;height:410px;')
        .banner-sm
          -for (var i = 0; i < banners.length; ++i )
            .banner
              a(href='/cars/#{banners[i].car.id}')
                img(src='http://ev.cpkso.com/adsPath/#{banners[i].pic}')
    .news
      ul.nav.nav-tabs
        li.active
          a(href='/news/daogou/',title='导购') 导购
        li
          a(href='/news/jishu/',title='技术') 技术
        li
          a(href='/news/hangye/',title='行业') 行业
        li
          a(href='/news/zhengce/',title='政策') 政策
        li
          a(href='/news/yongche/',title='用车') 用车
        li.fr-li
          a(href='/news/',title='查看更多') 查看更多
      .news-container
        .tab-content
          .tab-pane.active#guide
            .owl-lg.owl-carousel
              each news in newsG
                a.item(href='/news/#{news.article.content}',title='#{news.article.title}')
                  img(src='http://ev.cpkso.com/adsPath/#{news.pic}',style='width:280px;height:180px;')
                  p.title #{news.article.title}
      
    .products            
      .content-left
        ul.nav.nav-tabs
          li.active
            a(href='#new-car',data-toggle='tab',title='最新车型') 最新车型
          li
            a(href='#hot-car',data-toggle='tab',title='热门车型') 热门车型
          li
            a(href='#low-car',data-toggle='tab',title='低速车型') 低速车型
          li
            a(href='#ev-car',data-toggle='tab',title='乘用车型') 乘用车型
          li.fr-li
            a(href='/cars/',title='进入车型库') 进入车型库
        .tab-content
          .tab-pane.active#new-car
            mixin car(cars)
                ul.list-content
                  each car in cars
                    li.list-item
                      .detail
                        h3.title #{car.car.name}
                        p.desc #{car.car.brief}
                      a(href='/cars/#{car.car.id}')
                        img(src='http://ev.cpkso.com/adsPath/#{car.pic}')
                      .car-logo
                        img(src='http://ev.cpkso.com/brandPath/#{car.car.brand.pic}')
            +car(newCar)
          .tab-pane#hot-car
            +car(hotCar)
          .tab-pane#low-car
            +car(dsCar)
          .tab-pane#ev-car
            +car(cyCar)
      .content-right
        #needCar.recommend
          .header
            h3.title 热门整车求购
            a(href='/infos/search/0-0') 查看更多
          .msg-wrapper
            .pics
              .carousel-wrapper
                #slider-sm-1.owl-carousel
                  mixin require(reqs)
                    each req in reqs
                      a.item(href='/infos/#{req.id}')
                        img(src='http://ev.cpkso.com/requirePath/#{req.pic_thumb}')
                  +require(carReq)
            p.slogan 整车求购
            #needCarMsg.msg
              mixin requireList(reqs)
                ul
                  each req in reqs
                    li
                      a(href='/infos/#{req.id}') #{req.title}
              +requireList(carReqPic)
    #companyBar1.company-bar
      a(href='/companies/#{promo1[0].company.id}')
        img(src='http://ev.cpkso.com/adsPath/#{promo1[0].pic}')
    .products
      .content-left
        .tab-container
          ul#partsTabs.nav.nav-tabs
            li.active
              a(href='#new-product',data-toggle='tab',title='最新配件') 最新配件
            li
              a(href='#hot-product',data-toggle='tab',title='热门配件') 热门配件
            li
              a(href='#standard',data-toggle='tab',title='标准件') 标准件
            li
              a(href='#auxiliary',data-toggle='tab',title='辅助件') 辅助件
            li
              a(href='#car-body',data-toggle='tab',title='车身系统') 车身系统
            li
              a(href='#electric',data-toggle='tab',title='电气系统') 电气系统
            li
              a(href='#steering',data-toggle='tab',title='转向系统') 转向系统
            li
              a(href='#underpan',data-toggle='tab',title='底盘系统') 底盘系统
            li
              a(href='#sealing',data-toggle='tab',title='密封系统') 密封系统
            li
              a(href='#interior',data-toggle='tab',title='内饰系统') 内饰系统
            li.fr-li
              a(href='/parts/',title='进入配件库') 进入配件库
          .tab-content
            #new-product.tab-pane.active
              mixin parts(parts)
                  ul.list-content
                    each part in parts
                      li.list-item
                        .detail
                          h3.title #{part.parts.name}
                          p.desc #{part.parts.brief}
                        a(href='/parts/#{part.parts.id}')
                          img(src='http://ev.cpkso.com/adsPath/#{part.pic}')
              +parts(newParts)
            #hot-product.tab-pane    
              +parts(hotParts)
            #standard.tab-pane    
              +parts(standard)
            #auxiliary.tab-pane    
              +parts(auxiliary)
            #car-body.tab-pane    
              +parts(carBody)
            #electric.tab-pane    
              +parts(electric)
            #steering.tab-pane    
              +parts(steering)
            #underpan.tab-pane    
              +parts(underpan)
            #sealing.tab-pane    
              +parts(sealing)
            #interior.tab-pane    
              +parts(interior)
      .content-right
        #needParts.recommend
          .header
            h3.title 热门配件求购
            a(href='/infos/search/0-0') 查看更多
          .msg-wrapper
            .pics
              .carousel-wrapper
                #slider-sm-2.owl-carousel
                  +require(partsReq)
            p.slogan 配件求购
            #needPartsMsg.msg
              +requireList(partsReqPic)
    #companyBar2.company-bar
      a(href='/companies/#{promo2[0].company.id}')
        img(src='http://ev.cpkso.com/adsPath/#{promo2[0].pic}')
    .company-show
      .title
        .line
        .text 企业秀
        .line
      #companyShow.show-content
        ul.show-list
          each show in shows
            li.show-pics
              h3.title #{show.company.name}
              .pics
                each pic in show.pics
                  .pic
                    a(href='/companies/#{show.company.id}')
                      img(src='http://ev.cpkso.com/adsPath/#{pic}')
    #companyBar3.company-bar
      a(href='/companies/#{promo3[0].company.id}')
        img(src='http://ev.cpkso.com/adsPath/#{promo3[0].pic}')
    .cut-line
append script
  script(src='js/owl.carousel.min.js')
  //- script(src='http://ev.cpkso.com/ev/require_search')
  script.
    $(function(){
      $('.owl-lg').owlCarousel({
        items: 4,
        autoPlay: true,
        responsive: false
      });
      $('#sliders,#slider-sm-1,#slider-sm-2').owlCarousel({
        items: 1,
        autoPlay: true,
        responsive: false
      });
    });
    $.ajax({
      url: 'http://192.168.1.154:8080/ev/require_search',
      type: 'POST',
      dataType: 'json'
    }).done(function(data){
      console.log(data);
    })


