extends layout

block title
  title= '配件库、新能源电动车配件-产品快搜新能源电动车'
  meta(name="keywords", content="标准件、辅助件、车身系统、电气系统、转向系统、底盘系统、密封系统、内饰系统、新能源电动车电池、新能源汽车电机,新能源汽车控制系统,电动汽车零部件有哪些,电动车相关零部件")
  meta(name="description", content="产品快搜新能源电动车配件库为您提供新能源汽车零部件大全,新能源电动车能源系统,驱动及控制系统,新能源汽车配套设施,电动车原材料信息")
append link
  link(rel="stylesheet", href="http://ev.cpkso.com/style/css/searchresult.css")
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
      li
        a(href='http://ev.cpkso.com') 首页
      li.active 配件库
  .main-body
    #filter.category
      dl#categoryType.category-list.clearfix
        dt.title 类型：
        dd.category-item
          a.choose-all.choose-on(href='/parts/search/0-0') 不限
          a(href='/parts/search/6-0') 标准件
          a(href='/parts/search/7-0') 辅助件
          a(href='/parts/search/8-0') 车身系统
          a(href='/parts/search/9-0') 电气系统
          a(href='/parts/search/10-0') 转向系统
          a(href='/parts/search/11-0') 底盘系统
          a(href='/parts/search/12-0') 密封系统
          a(href='/parts/search/13-0') 内饰系统
      if id&&id!=='0'
        dl#ct2.category-list.clearfix
          dt.title 分类：
          dd.category-item
            a.choose-all.choose-on(href='/parts/search/#{id}-0') 不限
            if id==='6'
              .ct2-list
                a(href='/parts/search/6-1') 拉铆螺母
                a(href='/parts/search/6-2') U型丝
                a(href='/parts/search/6-3') 车门合页
                a(href='/parts/search/6-4') 螺旋式插销扎带
                a(href='/parts/search/6-5') 车标车牌
                a(href='/parts/search/6-6') 装饰条
                a(href='/parts/search/6-7') 其他
            if id==='7'
              .ct2-list
                a(href='/parts/search/7-1') 刹车油
                a(href='/parts/search/7-2') 齿轮油
                a(href='/parts/search/7-3') 充电桩
                a(href='/parts/search/7-4') 安装垫片
                a(href='/parts/search/7-5') 比例阀
                a(href='/parts/search/7-6') 地毯毛垫
                a(href='/parts/search/7-7') 胶套支架
                a(href='/parts/search/7-8') 千斤顶
                a(href='/parts/search/7-9') 安装卡扣
                a(href='/parts/search/7-10') 其他
            if id==='8'
              .ct2-list
                a(href='/parts/search/8-1') 桥箱
                a(href='/parts/search/8-2') 车架
                a(href='/parts/search/8-3') 门框
                a(href='/parts/search/8-4') 车门锁
                a(href='/parts/search/8-5') 倒车镜后视镜
                a(href='/parts/search/8-6') 全车玻璃
                a(href='/parts/search/8-7') 挂档器
                a(href='/parts/search/8-8') 护罩
                a(href='/parts/search/8-9') 脚踏板
                a(href='/parts/search/8-10') 安全带
                a(href='/parts/search/8-11') 保险杠
                a(href='/parts/search/8-12') 车门配件
                a(href='/parts/search/8-13') 护板
                a(href='/parts/search/8-14') 玻璃组件
                a(href='/parts/search/8-15') 驻车把手
                a(href='/parts/search/8-16') 遮阳板
                a(href='/parts/search/8-17') 其他
            if id==='9'
              .ct2-list
                a(href='/parts/search/9-1') 电池
                a(href='/parts/search/9-2') 电机
                a(href='/parts/search/9-3') 控制器
                a(href='/parts/search/9-4') 灯光系统
                a(href='/parts/search/9-5') 雨刮
                a(href='/parts/search/9-6') 电瓶连线
                a(href='/parts/search/9-7') 音响喇叭
                a(href='/parts/search/9-8') 暖风机
                a(href='/parts/search/9-9') 电容
                a(href='/parts/search/9-10') 增程器
                a(href='/parts/search/9-11') 空调
                a(href='/parts/search/9-12') 天线
                a(href='/parts/search/9-13') 倒车影像
                a(href='/parts/search/9-14') 车窗电动升降
                a(href='/parts/search/9-15') 电源开关
                a(href='/parts/search/9-16') 遥控钥匙
                a(href='/parts/search/9-18') 车载仪表
                a(href='/parts/search/9-19') DC转换器
                a(href='/parts/search/9-17') 其他
            if id==='10'
              .ct2-list
                a(href='/parts/search/10-1') 方向盘
                a(href='/parts/search/10-2') 方向机总成
                a(href='/parts/search/10-3') 组合开关
                a(href='/parts/search/10-4') 变速箱
                a(href='/parts/search/10-5') 转向器
                a(href='/parts/search/10-7') 其他
            if id==='11'
              .ct2-list
                a(href='/parts/search/11-1') 后桥
                a(href='/parts/search/11-2') 轮胎
                a(href='/parts/search/11-3') 轮毂
                a(href='/parts/search/11-4') 制动系统
                a(href='/parts/search/11-5') 刹车系统
                a(href='/parts/search/11-6') 减震系统
                a(href='/parts/search/11-7') 点火开关
                a(href='/parts/search/11-8') 加速器
                a(href='/parts/search/11-9') 车用轴承
                a(href='/parts/search/11-10') 交流电机
                a(href='/parts/search/11-11') 电机控制器
                a(href='/parts/search/11-12') 排气管
                a(href='/parts/search/11-13') 平衡杆
                a(href='/parts/search/11-14') 洗涤器
                a(href='/parts/search/11-17') 其他
            if id==='12'
              .ct2-list
                a(href='/parts/search/12-1') 线套
                a(href='/parts/search/12-2') 中央电器盒
                a(href='/parts/search/12-3') 玻璃扣
                a(href='/parts/search/12-4') 后门铰链密封件
                a(href='/parts/search/12-5') 胶套
                a(href='/parts/search/12-6') 胶条
                a(href='/parts/search/12-7') 其他
            if id==='13'
              .ct2-list
                a(href='/parts/search/13-1') 座椅
                a(href='/parts/search/13-2') 内视镜
                a(href='/parts/search/13-3') 内拉手
                a(href='/parts/search/13-4') 反光贴
                a(href='/parts/search/13-5') 铝板
                a(href='/parts/search/13-7') 其他
    .content-container.parts-search-result
      .content-left
        #parts-result.search-result.product-container
          ul.list-content
            each part in parts
              li.list-item
                .figure
                  a(href='/parts/#{part.id}')
                    if part.prompt===1
                      span.recommend-icon
                    img(src='http://ev.cpkso.com/uploadPath/#{part.pic_thumbs[0]}')
                  .car-info
                    .info-wrapper
                      a(href='/parts/#{part.id}') 详情
                      a.cus-service(href='javascript:;') 客服
                      a(href='/companys/',target='_blank') 官网
                    .car-detail
                      p.parts-info 简介：#{part.brief}
                .detail
                  if part.w1===1
                    a.desc(href='/parts/#{part.id}',style='text-indent:26px;') #{part.name}
                      span.hot-icon
                  else
                    a.desc(href='/parts/#{part.id}') #{part.name}
                  .company-detail
                    a.company-name(href='/company/',target='_blank') #{part.company.name}
                      if part.company.vip===1
                        span.approve-icon
                  .msg
                    if part.price
                      p.price #{part.price}
                    else
                      p.price 暂无价格
                    if part.hot
                      p.view-count 已浏览#{part.hot}
        .page-wrapper
          .pagination
      .content-right
        #showBar1.show-bar-sm
          mixin bar(bar)
            a(href='/parts/#{bar[0].(part).id}')
              img(src='http://ev.cpkso.com/adsPath/#{bar[0].pic}')
          +bar(promo1)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#car-news',data-toggle='tab') 行业新闻
            li
              a(href='#policy',data-toggle='tab') 政策法规
          .tab-content
            #car-news.tab-pane.active
              mixin news(newsdata)
                ul.msg-list
                  each news in newsdata
                    li.side-list-item
                      a(href='/news/#{news.article.content}') #{news.article.title}
                      span.date #{news.article.publish_time}
              +news(promo2)
            #policy.tab-pane
              +news(promo3)
        #showBar2.show-bar-sm
          +bar(promo4)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#guide',data-toggle='tab') 车辆导购
            li
              a(href='#tips',data-toggle='tab') 用车贴士
          .tab-content
            #guide.tab-pane.active
              +news(promo5)
            #tips.tab-pane
              +news(promo6)
        #showBar3.show-bar-sm
          +bar(promo6)
    .cut-line

append script
  script(src='http://ev.cpkso.com/style/js/lib/jquery.page.js')
  script.
    $('.pagination').Mpage({
      pageCount: #{pageinfo.maxPageNo},
      current: #{pageinfo.pageNo},
      mclick: function(p){
        //- console.log(p);
      }
    });

