extends layout

block title
  title= '配件库、新能源电动车配件-产品快搜新能源电动车'
  meta(name="keywords", content="标准件、辅助件、车身系统、电气系统、转向系统、底盘系统、密封系统、内饰系统、新能源电动车电池、新能源汽车电机,新能源汽车控制系统,电动汽车零部件有哪些,电动车相关零部件")
  meta(name="description", content="产品快搜新能源电动车配件库为您提供新能源汽车零部件大全,新能源电动车能源系统,驱动及控制系统,新能源汽车配套设施,电动车原材料信息")
append link
  link(rel='stylesheet', href="http://ev.cpkso.com/css/searchresult.css")
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
      li
        a(href='/') 首页
      li.active 配件库
  .main-body
    #filter.category
      dl#categoryType.category-list.clearfix
        dt.title 类型：
        dd.category-item
          a.choose-all.choose-on(href='/parts/search/0-0-1') 不限
          a(href='/parts/search/6-0-1',title='标准件') 标准件
          a(href='/parts/search/7-0-1',title='辅助件') 辅助件
          a(href='/parts/search/8-0-1',title='车身系统') 车身系统
          a(href='/parts/search/9-0-1',title='电气系统') 电气系统
          a(href='/parts/search/10-0-1',title='转向系统') 转向系统
          a(href='/parts/search/11-0-1',title='底盘系统') 底盘系统
          a(href='/parts/search/12-0-1',title='密封系统') 密封系统
          a(href='/parts/search/13-0-1',title='内饰系统') 内饰系统
      if id&&id!=='0'
        dl#ct2.category-list.clearfix
          dt.title 分类：
          dd.category-item
            a.choose-all.choose-on(href='/parts/search/#{id}-0-1') 不限
            if id==='6'
              .ct2-list
                a(href='/parts/search/6-1-1') 拉铆螺母
                a(href='/parts/search/6-2-1') U型丝
                a(href='/parts/search/6-3-1') 车门合页
                a(href='/parts/search/6-4-1') 螺旋式插销扎带
                a(href='/parts/search/6-5-1') 车标车牌
                a(href='/parts/search/6-6-1') 装饰条
                a(href='/parts/search/6-7-1') 其他
            if id==='7'
              .ct2-list
                a(href='/parts/search/7-1-1') 刹车油
                a(href='/parts/search/7-2-1') 齿轮油
                a(href='/parts/search/7-3-1') 充电桩
                a(href='/parts/search/7-4-1') 安装垫片
                a(href='/parts/search/7-5-1') 比例阀
                a(href='/parts/search/7-6-1') 地毯毛垫
                a(href='/parts/search/7-7-1') 胶套支架
                a(href='/parts/search/7-8-1') 千斤顶
                a(href='/parts/search/7-9-1') 安装卡扣
                a(href='/parts/search/7-10-1') 其他
            if id==='8'
              .ct2-list
                a(href='/parts/search/8-1-1') 桥箱
                a(href='/parts/search/8-2-1') 车架
                a(href='/parts/search/8-3-1') 门框
                a(href='/parts/search/8-4-1') 车门锁
                a(href='/parts/search/8-5-1') 倒车镜后视镜
                a(href='/parts/search/8-6-1') 全车玻璃
                a(href='/parts/search/8-7-1') 挂档器
                a(href='/parts/search/8-8-1') 护罩
                a(href='/parts/search/8-9-1') 脚踏板
                a(href='/parts/search/8-10-1') 安全带
                a(href='/parts/search/8-11-1') 保险杠
                a(href='/parts/search/8-12-1') 车门配件
                a(href='/parts/search/8-13-1') 护板
                a(href='/parts/search/8-14-1') 玻璃组件
                a(href='/parts/search/8-15-1') 驻车把手
                a(href='/parts/search/8-16-1') 遮阳板
                a(href='/parts/search/8-17-1') 其他
            if id==='9'
              .ct2-list
                a(href='/parts/search/9-1-1') 电池
                a(href='/parts/search/9-2-1') 电机
                a(href='/parts/search/9-3-1') 控制器
                a(href='/parts/search/9-4-1') 灯光系统
                a(href='/parts/search/9-5-1') 雨刮
                a(href='/parts/search/9-6-1') 电瓶连线
                a(href='/parts/search/9-7-1') 音响喇叭
                a(href='/parts/search/9-8-1') 暖风机
                a(href='/parts/search/9-9-1') 电容
                a(href='/parts/search/9-10-1') 增程器
                a(href='/parts/search/9-11-1') 空调
                a(href='/parts/search/9-12-1') 天线
                a(href='/parts/search/9-13-1') 倒车影像
                a(href='/parts/search/9-14-1') 车窗电动升降
                a(href='/parts/search/9-15-1') 电源开关
                a(href='/parts/search/9-16-1') 遥控钥匙
                a(href='/parts/search/9-18-1') 车载仪表
                a(href='/parts/search/9-19-1') DC转换器
                a(href='/parts/search/9-17-1') 其他
            if id==='10'
              .ct2-list
                a(href='/parts/search/10-1-1') 方向盘
                a(href='/parts/search/10-2-1') 方向机总成
                a(href='/parts/search/10-3-1') 组合开关
                a(href='/parts/search/10-4-1') 变速箱
                a(href='/parts/search/10-5-1') 转向器
                a(href='/parts/search/10-7-1') 其他
            if id==='11'
              .ct2-list
                a(href='/parts/search/11-1-1') 后桥
                a(href='/parts/search/11-2-1') 轮胎
                a(href='/parts/search/11-3-1') 轮毂
                a(href='/parts/search/11-4-1') 制动系统
                a(href='/parts/search/11-5-1') 刹车系统
                a(href='/parts/search/11-6-1') 减震系统
                a(href='/parts/search/11-7-1') 点火开关
                a(href='/parts/search/11-8-1') 加速器
                a(href='/parts/search/11-9-1') 车用轴承
                a(href='/parts/search/11-10-1') 交流电机
                a(href='/parts/search/11-11-1') 电机控制器
                a(href='/parts/search/11-12-1') 排气管
                a(href='/parts/search/11-13-1') 平衡杆
                a(href='/parts/search/11-14-1') 洗涤器
                a(href='/parts/search/11-17-1') 其他
            if id==='12'
              .ct2-list
                a(href='/parts/search/12-1-1') 线套
                a(href='/parts/search/12-2-1') 中央电器盒
                a(href='/parts/search/12-3-1') 玻璃扣
                a(href='/parts/search/12-4-1') 后门铰链密封件
                a(href='/parts/search/12-5-1') 胶套
                a(href='/parts/search/12-6-1') 胶条
                a(href='/parts/search/12-7-1') 其他
            if id==='13'
              .ct2-list
                a(href='/parts/search/13-1-1') 座椅
                a(href='/parts/search/13-2-1') 内视镜
                a(href='/parts/search/13-3-1') 内拉手
                a(href='/parts/search/13-4-1') 反光贴
                a(href='/parts/search/13-5-1') 铝板
                a(href='/parts/search/13-7-1') 其他
    .content-container.parts-search-result
      .content-left
        #parts-result.search-result.product-container
          ul.list-content
            each part in parts
              li.list-item
                .figure
                  a(href='/parts/#{part.id}',title='#{part.name}')
                    if part.prompt===1
                      span.recommend-icon
                    img(src='#{part.pic}',alt='#{part.name}')
                  .car-info
                    .info-wrapper
                      a(href='/parts/#{part.id}',title='#{part.name}') 详情
                      a.cus-service(href='javascript:;') 客服
                      a(href='/companys/#{part.company_id}',target='_blank',title='#{part.company_name}') 官网
                    .car-detail
                      p.parts-info 简介：#{part.brief}
                .detail
                  if part.w1===1
                    a.desc(href='/parts/#{part.id}',style='text-indent:26px;') #{part.name}
                      span.hot-icon
                  else
                    a.desc(href='/parts/#{part.id}',title='#{part.name}') #{part.name}
                  .company-detail
                    a.company-name(href='/company/#{part.company_id}',target='_blank',title='#{part.company_name}') #{part.company_name}
                      if part.vip===1
                        span.approve-icon
                  .msg
                    if part.price
                      p.price #{part.price}
                    else
                      p.price 暂无价格
                    if part.hot
                      p.view-count 已浏览#{part.hot}
        .page-wrapper
          if list
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                a(href=pageinfo.pageNo-1) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/parts/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/parts/list/' + n
                    a(href=url)= n++     
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    - var url = '/parts/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/parts/list/' + n
                    a(href=url)= n++
                a ...
                - var url = '/parts/list/' + pageinfo.maxPageNo
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                a(href='1') 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = '/parts/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/parts/list/' + n
                    a(href=url)= n++        
              else
                a(href='1') 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    - var url = '/parts/list/' + n
                    span.current(href=url)= n++
                  else
                    - var url = '/parts/list/' + n
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = '/parts/list/' + pageinfo.maxPageNo
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                - var url = '/parts/list/' + n
                span.disabled(href='javascript:;') 下一页
              else
                - var url = '/parts/list/' + (pageinfo.pageNo+1)
                a(href=url) 下一页
          else
            .pagination.clearfix
              if pageinfo.pageNo===1
                span.disabled(href='javascript:;') 上一页
              else
                a(href=pageinfo.pageNo-1) 上一页
              if pageinfo.maxPageNo < 7
                - var n = 1
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    a(href=url)= n++     
              else if pageinfo.pageNo <= 3
                - var n = 1
                while n <= 5
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    a(href=url)= n++
                a ...
                - var url = ids[0] + '-' + ids[1] + '-' + pageinfo.maxPageNo
                a(href=url) #{pageinfo.maxPageNo}
              else if pageinfo.pageNo > pageinfo.maxPageNo-2
                a(href='1') 1
                a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.maxPageNo
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    a(href=url)= n++        
              else
                a(href='1') 1
                if pageinfo.pageNo > 4
                  a ...
                - var n = pageinfo.pageNo-2
                while n <= pageinfo.pageNo+2
                  if n===pageinfo.pageNo
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    span.current(href=url)= n++
                  else
                    - var url = ids[0] + '-' + ids[1] + '-' + n
                    a(href=url)= n++        
                if pageinfo.pageNo < pageinfo.maxPageNo-3
                  a ...
                if pageinfo.pageNo < pageinfo.maxPageNo-2
                  - var url = ids[0] + '-' + ids[1] + '-' + pageinfo.maxPageNo
                  a(href=url) #{pageinfo.maxPageNo}
              if pageinfo.pageNo===pageinfo.maxPageNo
                - var url = ids[0] + '-' + ids[1] + '-' + n
                span.disabled(href='javascript:;') 下一页
              else
                - var url = ids[0] + '-' + ids[1] + '-' + (pageinfo.pageNo+1)
                a(href=url) 下一页
      .content-right
        #showBar1.show-bar-sm
          mixin bar(bar)
            a(href='/parts/#{bar[0].entity_id}',title='#{bar[0].title}')
              img(src='#{bar[0].pic}',alt='#{bar[0].title}')
          +bar(promo1)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#car-news',data-toggle='tab',title='行业新闻') 行业新闻
            li
              a(href='#policy',data-toggle='tab',title='政策法规') 政策法规
          .tab-content
            #car-news.tab-pane.active
              mixin news(newsdata)
                ul.msg-list
                  each news in newsdata
                    li.side-list-item
                      a(href='/news/#{news.uri}',title='#{news.title}') #{news.title}
                      span.date #{news.date}
              +news(promo2)
            #policy.tab-pane
              +news(promo3)
        #showBar2.show-bar-sm
          +bar(promo4)
        .info-container
          ul.nav.nav-tabs
            li.active
              a(href='#guide',data-toggle='tab',title='车辆导购') 车辆导购
            li
              a(href='#tips',data-toggle='tab',title='用车贴士') 用车贴士
          .tab-content
            #guide.tab-pane.active
              +news(promo5)
            #tips.tab-pane
              +news(promo6)
        #showBar3.show-bar-sm
          +bar(promo6)

